<a name="TF-KS"></a>
## **Gradient Descent Optimization**

In [5]:
import pandas as pd
from tensorflow.keras.optimizers import Adam
import tensorflow as tf
from tensorflow.keras.layers import Dense, Input, InputLayer
from sklearn.metrics import confusion_matrix,accuracy_score
import seaborn as sns
import matplotlib.pyplot as plt

<a name="Dataset"></a>
## **Dataset**

<h4>Used Cars</h4>
<p><img alt="Colaboratory logo" height="55px" src="https://upload.wikimedia.org/wikipedia/commons/thumb/9/99/GAZ-24_Volga.svg/640px-GAZ-24_Volga.svg.png" align="left" hspace="10px" vspace="0px"></p>

In [6]:
from google.colab import drive
drive.mount('/content/drive/')

Drive already mounted at /content/drive/; to attempt to forcibly remount, call drive.mount("/content/drive/", force_remount=True).

In [7]:
import pandas as pd
data = pd.read_csv("/content/drive/My Drive/usedcars.csv")
data.head()

   year model  price  mileage   color transmission
0  2011   SEL  21992     7413  Yellow         AUTO
1  2011   SEL  20995    10926    Gray         AUTO
2  2011   SEL  19995     7351  Silver         AUTO
3  2011   SEL  17809    11613    Gray         AUTO
4  2012    SE  17500     8367   White         AUTO

In [ ]:
data

<a class="anchor" id="first-bullet"></a>
<img src="https://i.ibb.co/nzdQxG1/car.png" alt="Drawing" style="width: 600px;"/>

In [8]:
#One-hot encode
data = pd.get_dummies(data)

In [9]:
from sklearn.model_selection import train_test_split
X_train, X_test, y_train, y_test = train_test_split(data.loc[:, data.columns != 'price'], data['price'], test_size=0.2, random_state=1)

<a name="Training"></a>
## **Training**

In [10]:
import tensorflow as tf
from tensorflow.keras.layers import Dense, Input, InputLayer
from tensorflow.keras import layers

model1 = tf.keras.Sequential()
model1.add(InputLayer(input_shape=X_train.shape[1]))
model1.add(layers.BatchNormalization())
model1.add(Dense(64, activation = 'relu'))
model1.add(Dense(64, activation = 'relu'))
model1.add(Dense(1, activation='relu'))

# Defaults

In [11]:
model1.compile(loss="mean_squared_error")

In [12]:
model1.fit(X_train, y_train)

4/4 [==============================] - 1s 7ms/step - loss: 176737024.0000

In [13]:
y_pred = model1.predict(X_test)

In [14]:
# Accuracy (Root Mean Squared Error)
from sklearn.metrics import mean_squared_error
mean_squared_error(y_test, y_pred, squared=False)

13003.598212120085

# Optimized

In [15]:
from tensorflow.keras.optimizers import Adam

model2 = tf.keras.Sequential()
model2.add(InputLayer(input_shape=X_train.shape[1]))
model2.add(layers.BatchNormalization())
model2.add(Dense(64, activation = 'relu'))
model2.add(Dense(64, activation = 'relu'))
model2.add(Dense(1, activation='relu'))

In [16]:
model2.compile(optimizer = Adam(learning_rate=0.001), loss="mean_squared_error")

In [17]:
history2 = model2.fit(X_train, y_train, epochs = 15, batch_size=16)

Epoch 1/15
8/8 [==============================] - 1s 4ms/step - loss: 176734320.0000
Epoch 2/15
8/8 [==============================] - 0s 3ms/step - loss: 176711056.0000
Epoch 3/15
8/8 [==============================] - 0s 3ms/step - loss: 176684336.0000
Epoch 4/15
8/8 [==============================] - 0s 3ms/step - loss: 176648128.0000
Epoch 5/15
8/8 [==============================] - 0s 4ms/step - loss: 176605216.0000
Epoch 6/15
8/8 [==============================] - 0s 3ms/step - loss: 176547616.0000
Epoch 7/15
8/8 [==============================] - 0s 5ms/step - loss: 176469776.0000
Epoch 8/15
8/8 [==============================] - 0s 4ms/step - loss: 176376048.0000
Epoch 9/15
8/8 [==============================] - 0s 3ms/step - loss: 176247968.0000
Epoch 10/15
8/8 [==============================] - 0s 3ms/step - loss: 176091648.0000
Epoch 11/15
8/8 [==============================] - 0s 5ms/step - loss: 175892576.0000
Epoch 12/15
8/8 [==============================] - 0s 5ms/step - loss: 175649600.0000
Epoch 13/15
8/8 [==============================] - 0s 4ms/step - loss: 175356864.0000
Epoch 14/15
8/8 [==============================] - 0s 5ms/step - loss: 174990144.0000
Epoch 15/15
8/8 [==============================] - 0s 4ms/step - loss: 174490528.0000

In [18]:
y_pred = model2.predict(X_test)

# Accuracy (Root Mean Squared Error)
from sklearn.metrics import mean_squared_error
mean_squared_error(y_test, y_pred, squared=False)

5782.680720976995